# Gradle
.gradle/
build/
out/

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/
*.launch
.settings/
.metadata
.classpath
.project
bin/

# Runtime
run/
logs/

# OS
.DS_Store
Thumbs.db

# Fabric
remappedSrc/
!/pre-alpha/
/pre-alpha/SpyGlassOnlyHUD/1/spyglass-only-hud-1.0.0.jar
/pre-alpha/SpyGlassOnlyHUD/2/spyglass-only-hud-1.0.0.jar
/pre-alpha/SpyGlassOnlyHUD/3/spyglass-only-hud-1.0.0.jar
